* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #6495ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #d2d7d8;
    width: 20rem;
    height: 25rem;
    margin: auto;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.842);
}

h2 {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

div {
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form > input {
    background-color: #ecf0f1;
    border: none;
    width: 13rem;
    height: 2rem;
    border-radius: 2px;
    padding: .5rem;
}

.correctPin {
    display: none;
}

.buttons {
    width: 13rem;
    display: flex;
    justify-content: space-between;
}
button {
    margin-top: 2rem;
    width: 6rem;
    height: 2rem;
    background-color: #e74c3c;
    color: #ccc;
    border: none;
    border-radius: 4px;
}

#hintsToRightPin {
    display: none;
    margin-top: .7rem;
    color: red;
}